<div class="product">
  <div class="img-container">
    <a href="#">
      <img src="{{ product.images[0].url}}" alt="image-product" />
    </a>
    <button class="favourite-icon">
      <i class="fa-regular fa-heart"></i>
    </button>
  </div>
  <div class="product-locality-details">
    <p class="name">{{ product?.libelle }}</p>
    <!-- <p class="locality">{{ product.locality }}</p> -->
  </div>
  <div class="product-price-details">
    <div class="btn-container">
      <a href="/product/1" class="btn-sm">
        {{ product?.quantite }}
      </a>
    </div>
    <p class="price">525 cfca/kg</p>
  </div>
</div>
