.navbar {
  background-color: #467806;
}
.main {
  margin-top: 20px;
}
.header-card {
  text-align: center;
  background-color: #467806;
  color: white;
  padding: 10px;
}
.avatar-menu {
  width: 60px;
  //margin-left: 40%;
}
.mat-card {
  padding: 0px !important;
}
.mat-card-content {
  background-color: #e9ecef;
}

