<div class="container">
  <header class="jumbotron">
    <h2>Modifier votre mot de passe</h2>
    <mat-form-field appearance="outline">
      <mat-label>Ancien Mot de passe</mat-label>
      <input matInput placeholder="Entrer votre nom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput placeholder="Entrer votre nom">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmer votre mot de passe</mat-label>
      <input matInput placeholder="Entrer votre nom">
    </mat-form-field>
    <button mat-raised-button class="is-login" >Enregistrer</button>
  </header>
</div>
