.topbar {
  font-size: 20px;
  padding: 12px;
  background-color: #467806;
  color: #fff;
}

.topbar-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  // display: flex;
  // justify-content: space-between;
  // max-width: 1300px;
}

.number:link,
.number:visited {
  text-decoration: none;
}

.phone {
  justify-self: start;

  // flex: 1;
  // display: flex;
  // gap: 16px;
  // display: flex;
  // align-items: center;
}

.phone-icon {
  width: 24px;
  height: 24px;
}

.title {
  justify-self: center;
  margin-bottom: 0;
}

.social-links {
  justify-self: end;

  display: flex;
  gap: 24px;
}
