<div class="container" *ngIf="!edited else formProfil">
  <mat-card class="jumbotron">
    <div class="d-flex">
      <div>
        <img
          class="avatar-img rounded-circle"
          id="profile-img"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        />
        <h1 class="mt-3">
          <strong>{{ currentUser.username }}</strong>
        </h1>
      </div>
      <div class="profil">
        <h3>Nom:</h3>
        <h3>Prénom:</h3>
        <h3>Email:</h3>
        <h3>Téléphone:</h3>
        <h3>Region:</h3>
      </div>
      <div class="profil">
        <h3>{{currentUser.nom}}</h3>
        <h3>{{currentUser.prenom}}</h3>
        <h3>{{currentUser.email}}</h3>
        <h3>{{currentUser.telephone}}</h3>
        <h3>{{currentUser.region}}</h3>
      </div>

    </div>
  </mat-card>
    <div class="btn-edited" *ngIf="!edited; else  formProfil">
      <button mat-raised-button class="is-login" (click)="edited=true">Modifier</button>
    </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
<ng-template #formProfil>
  <div class="container jumbotron">
    <h1>Edition de profile</h1>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Entrer votre nom" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Entrer votre nom" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Entrer votre nom" formControlName="nom">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Entrer votre nom" formControlName="prenom">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>téléphone</mat-label>
        <input matInput placeholder="Entrer votre nom" formControlName="telephone">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Région</mat-label>
        <mat-select formControlName="region">
          <mat-option *ngFor="let region of regions" [value]="region">{{region}}</mat-option>
        </mat-select>
      </mat-form-field>
        <button mat-raised-button class="is-login">Enregistrer</button>
    </form>
  </div>

</ng-template>
