.navbar {
  background-color: #fff;
  color: #333;
  padding: 32px;
}

.navbar-container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 32px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1072px) {
  .navbar-container {
    display: none;
  }
}

.logo {
  width: 250px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.nav-link {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 8px;
}

.navbar-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: #333;
  padding: 8px;
}

a {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.login {
  text-decoration: none;
  color: #fff;
  background-color: #467806;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
}
