<footer id="contact">
  <div class="container">
    <div class="contacts">
      <h4>Contactez nous</h4>
      <div class="item">
        <i class="fa-solid fa-location-arrow"></i>
        <p>Médina, Dakar, Sénégal</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-phone"></i>
        <p>+221 78 546 21 59</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-envelope"></i>
        <p>contact@eutobaykat.com</p>
      </div>
    </div>
    <div class="about">
      <h4>A propos de nous</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
        tempora natus. Ducimus sit sunt alias, enim aliquid aliquam aperiam
        libero! Soluta libero dolorum consequuntur, eius error eaque sunt
        placeat at ullam in, quos temporibus enim officia facilis itaque hic
        alias pariatur neque quidem iste totam a ducimus? Accusantium odit, sunt
        pariatur totam vero dolorum distinctio expedita mollitia repellendus
        obcaecati nesciunt saepe iure, fugiat eius nemo Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Eveniet doloremque eaque dolore ea
      </p>
    </div>
    <div class="team">
      <h4>La team</h4>

      <p>roland@gmail.com</p>
      <p>sidy@gmail.com</p>
      <p>elHadj@gmail.com</p>
      <p>adja@gmail.com</p>
      <p>kendia@gmail.com</p>
      <p>loic@gmail.com</p>
    </div>
  </div>
  <div class="social-links">
    <a href="https://facebook.com/" target="_blank">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="https://instagram.com/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://linkedin.com/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p class="copyright">copyright &copy;eutou Baykat 2022</p>
</footer>
