<footer id="contact">
  <div class="team">
    <a href="#">sidy@gmail.com</a>
    <a href="#">elHadj@gmail.com</a>
    <a href="#">adja@gmail.com</a>
    <a href="#">kendia@gmail.com</a>
    <a href="#">loic@gmail.com</a>
  </div>
  <div class="social-links">
    <a href="https://facebook.com/" target="_blank">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="https://instagram.com/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://linkedin.com/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <div class="contacts">
    <div class="item">
      <i class="fa-solid fa-location-arrow"></i>
      <p>Médina, Dakar, Sénégal</p>
    </div>
    <div class="item">
      <i class="fa-solid fa-phone"></i>
      <p>+221 78 546 21 59</p>
    </div>
    <div class="item">
      <i class="fa-solid fa-envelope"></i>
      <p>contact@eutobaykat.com</p>
    </div>
  </div>
  <p class="copyright">copyright &copy;eutou Baykat 2022</p>
</footer>
