<app-hero></app-hero>

<div *ngIf="!loading">
  <app-product-section
    title="Les plus récents"
    [products]="productsTemp"
  ></app-product-section>
</div>

<div class="center" *ngIf="loading">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>

<!-- <app-advertising [advertising]="advertising1"></app-advertising> -->

<app-category-table-section
  [categories]="categories"
></app-category-table-section>

<app-advertising [advertising]="advertising1"></app-advertising>

<div *ngIf="!loading">
  <app-product-section
    (filterEvent)="onFilter($event)"
    title="Par Régions"
    [products]="products"
    [regions]="regions"
  ></app-product-section>
</div>

<div class="center" *ngIf="loading">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>

<app-testimonial-section></app-testimonial-section>
