<div class="hero">
  <div class="hero-text">
    <div class="hero-text-container">
      <h1 class="heading">
        Le premier site e-commerce <span>100% agricole </span> du sénégale.
      </h1>
      <p class="hero-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries,
      </p>

      <!-- <a href="#" class="btn-lg">Boutique</a> -->
    </div>
  </div>
</div>

<app-category-section></app-category-section>
<!-- <app-product-section></app-product-section> -->
<app-product-section-latest></app-product-section-latest>
<app-advertising [advertising]="advertising1"></app-advertising>
<!-- <app-product-section-locality></app-product-section-locality> -->
<app-testimonial-section></app-testimonial-section>
<app-category-table-section></app-category-table-section>
<app-advertising [advertising]="advertising2"></app-advertising>
