.hero {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../assets/img/hero.jpg") center/cover fixed no-repeat;
  display: flex;
  align-items: center;
}

.hero-text {
  padding: 92px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.hero-text-container {
  width: 75%;
  color: #fff;
  padding: 20px;
}

.heading {
  font-size: 64px;
  margin-bottom: 32px;
  letter-spacing: -2px;
  line-height: 1.05;
}

.heading span {
  color: #467806;
}

.hero-description {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 48px;
}
