.item {
  display: flex;
  justify-content: center;
  border: 2px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.32s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item a:link,
.item a:visited {
  padding: 16px 0;
  color: #333;
  font-weight: 600;
  font-size: 20px;
}

.item:hover a {
  color: #467806;
  font-size: 20px;
}

.item:hover {
  transform: translateY(-3px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
