.product-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 32px;
  justify-content: center;
}
