.testimonial-container {
  padding: 32px 0;
  height: 55vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/assets/img/bcTestimonial.jpg") center/cover fixed no-repeat;
  color: #fff;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 64px;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  gap: 32px;
  align-items: center;
  justify-content: center;
}
