.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 92px 0;
}

h2 {
  text-align: center;
  margin-bottom: 48px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 32px;
  justify-content: center;
}
