.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 92px 0;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 48px;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: center;
  justify-content: center;
}
