table {
  width: 100%;
}

.filter mat-form-field {
  font-size: 14px;
  width: 50%;
}

.btn-dialog {
  float: right;
  margin-top: 20px;
  background-color: #467806;
  color: white;
}
.mat-form-field {
  width: 100%;
}