.img-bande{
  text-align: center;
  justify-content: center;
  background-color: #467806;
  width: 400px;
  height: 500px;
}
.form-bande {
  width: 400px;
  height: 500px ;
  padding: 10px;
}
.login-page {
  align-self: center;
  margin-top: 20px;
}
.avatar {
  align-self: center;
  width: 65px;
  margin: 10px;
}
